*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

/* Hiding the checkbox */
#animated {
    visibility: hidden;
}

/* hamburger menu */
label,
label::before,
label::after {
    background-color: #D84282;
    border-radius: 5px;
    content:'';
    position: absolute;
    /*display: block;*/
    height: 15px;
    width: 100px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

label {
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

label::before {
    content: "";
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
}

label::after {
    content: "";
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}

/* animated when checked - van menu naar kruis */
#animated:checked + label {
    width: 0;
}

#animated:checked + label::before {
    transform: rotate(45deg) translate(0);
    -webkit-transform: rotate(45deg) translate(0);
}

#animated:checked + label::after {
    transform: rotate(-45deg) translate(0);
    -webkit-transform: rotate(-45deg) translate(0);
}

